
<footer class="span8 mg-auto float-clear">
  <p class="text-center">Copyright ©2013 RoR.E.C. All rights reserved. <br>Design by <a href="http://sdlong.logdown.com" target=_new>sdlong</a></p>
</footer>