
<div class="hero-unit">
<h1>專案名稱： Rails新手村網站</h1>
</div>


<h1 class="text-center">主旨：收集 Rails 有用 Link</h1>
<hr>

<div class="span7 offset3">
	<h2>基本功能</h2>

	使用者可以登入 / 登出
	使用者可以使用 Facebook 登入 
	發表 Link

	使用者可以填入網址，網站自動抓標題和簡介 
	使用者可以在每則網址下面留言 
	作者和討論者可以在有人留言時，就收到留言更新 

	<hr>

	<H2>RSS</H2>

	使用者可以訂閱 

	<hr>

	<H2>Link 分類</H2>

	Link 必須被分類 : Gem / 新聞 / 教學 / 討論

	<hr>

	<H2>使用者資訊</H2>

	<ul> 
		<li><p>使用者可以更新自己個人資訊</p> </li>
		<li><p>使用者可以更改密碼</p> </li>
		<li><p>使用者可以放上自己 Github 網址 </p></li>
		<li><p>使用者的圖像是使用 </p></li>
	</ul>

	<hr>

	<H2>訂閱電子報</H2>

	<hr>

	<H2>熱門度功能</H2>

	<ul> 
		<li><p>Link 必須紀錄點擊數 </p></li>
		<li><p>每週自動整理點擊數高的連結寄給訂閱者 </p></li>
	</ul>

	<hr>

	<H2>Deploy</H2>

	<ul> 
		<li><p>Deploy 上 Heroku</p></li>
		<li><p>程式碼放上 Github</p></li>
		<li><p>每週二晚上 Code Review</p></li>
	</ul>

	<hr>

	<h2>前端功能</h2>

	<ul> 
		<li><p>支援RWD (Responsive Web Design)</p></li>
		<li><p>用SUSY 做首頁圖片文章排版</p></li>
		<li><p>使用bootstrap 2.3.2</p></li>
	</ul>
 </div>
