@import "preview.scss";
@import "bootstrap-setting";
@import "twitter/bootstrap";
@import "bootstrap-override";
@import "twitter/bootstrap-responsive";
@import "susy";
@import "compass/css3";


/* -----SUSY setting----- */

$total-columns  : 12;
$column-width   : 60px;
$gutter-width   : 20px;
$grid-padding   : 10px;

  /*以上是用來規劃基本格線設定 */


$phone: 320px 6 480px;
$pad: 12 1024px;
$desktop: 1025px 18;

/* ----- end SUSY setting ----- */


/* ----- color setting ----- */
$gray-blue: #6D8191;
$deep-blue: #2C343B;
$sign-red: #C44741;
$light-brown: #E5E1D1;

	/* ----- 灰階設定 ----- */
	$black: #000000;
	$gray-9: #333333;
	$gray-8: #4D4D4D;
	$gray-7: #666666;
	$gray-6: #808080;
	$gray-5: #999999;
	$gray-4: #B3B3B3;
	$gray-3: #CCCCCC;
	$gray-2: #E6E6E6;
	$gray-1: #F2F2F2;
	$white: #ffffff;

	/* ----- 首頁page-tag 色票 ----- */
	$tag-h-1: #2C343B;
	$tag-h-2: #808589;
	$tag-h-3: #565D62;
	$tag-h-4: #7D8C99;
	$tag-h-5: #ED4723;

	$tag-f-1: #435950;
	$tag-f-2: #808985;
	$tag-f-3: #56625D;
	$tag-f-4: #7D998E;
	$tag-f-5: #BC4272;

	$tag-b-1: #634A4B;
	$tag-b-2: #898080;
	$tag-b-3: #625657;
	$tag-b-4: #997D7E;
	$tag-b-5: #5C9534;

	$tag-1: #E5E1D1;
	$tag-2: #FEFAF0;
	$tag-3: #EFEDE3;
	$tag-4: #FEFAF0;
	$tag-5: #4060CB;

	$get-start: #6D8191;
	$btn-get-start: #F47156;

	$blue-hover: #3300CC;
	$orange-hover: #CC0099;
	$green-hover: #006600;

	$recommend: #A7C5DE;
	$btn-recommend: #C43B1E;



/* ----- end color setting ----- */







/* Layout */

.susy_container {
  @include container($total-columns, $desktop, $pad, $phone);
  //@include susy-grid-background;  //if need watch grid
}

// 修改 Bootstap內建樣式，解決格式跑掉的問題 
@media (max-width: 320px) {
	body {
		padding-left: 0px;
		padding-right: 0px;
	}
	.navbar-fixed-top {
		margin-left: 0px;
		margin-right: 0px;
	}
}

@media (max-width: 768px) {
	body {
		padding-left: 0px;
		padding-right: 0px;
	}
	.navbar-fixed-top {
		margin-left: 0px;
		margin-right: 0px;
	}
}
// end 修改 Bootstap內建樣式 




.word-block {
	 display: inline-block;
}

.float-clear {
	clear: both;
}

.mg-auto {
	margin-left: auto;
	margin-right: auto;
}


.form-signin {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.nav-account {
	font-size: 18px;
}

.btn-edit {
	margin-right: 10px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0px 0px 20px;
}

@media (max-width: 980px) {
    .nav-account {
    	float: none;
    	text-align: center;
    }
}

/* End Layout */


/* For edit landing page */

.logo_btn {

		@include at-breakpoint ($desktop) {
			padding: 18px 40px;
			font-size: 40px;
			@include border-radius(10px)
		}

		@include at-breakpoint ($pad) {
			padding: 14px 32px;
			font-size: 30px;
			@include border-radius(10px)
		}

		@include at-breakpoint ($phone) {
			padding: 11px 19px;
			font-size: 17.5px;
			@include border-radius(6px)
		}
	}

#home-logo {
	margin-bottom: 30px;
}

#landing-introdution {

	margin-bottom: 50px;

	h1 {		
		@include at-breakpoint ($pad) {
			font-size: 60px;
			margin: 80px 0px 80px 0px;
		}
		@include at-breakpoint ($phone) {
			font-size: 32px;
			margin: 50px 0px 50px 0px;
		}
		@include at-breakpoint ($desktop) {
			font-size: 80px;
			margin: 100px 0px 100px 0px;
		}		
	}

	.heading1 {

		background-color: $light-brown;
		padding:50px 0px 50px 0px; 
		margin-bottom: 30px;

		@include at-breakpoint ($desktop) {
			@include span-columns(4,12);
		}

		@include at-breakpoint ($pad) {
			@include span-columns(4,12);
		}

		@include at-breakpoint ($phone) {
			@include span-columns(12,12);
		}



		h2 {
			margin-bottom: 0px;
			@include at-breakpoint ($phone) {
				font-size: 24px;
			}
		}

		.text-fix {
			@include at-breakpoint ($phone) {
				font-size: 21px;
			}
		}
	}

	.heading2 {
		@extend .heading1;
		
		@include at-breakpoint ($desktop) {
			@include span-columns(4 ,12);
			padding: 70px 0px 70px 0px;
		}

		@include at-breakpoint ($pad) {
			@include span-columns(4 ,12);
			padding: 70px 0px 70px 0px;
		}

		@include at-breakpoint ($phone) {
			@include span-columns(12,12);
		}
	}

	.heading3 {
		@extend .heading1;
		@include at-breakpoint ($desktop) {
			@include span-columns(4 omega,12);
			padding: 70px 0px 70px 0px;
		}

		@include at-breakpoint ($pad) {
			@include span-columns(4 omega,12);
			padding: 70px 0px 70px 0px;
		}

		@include at-breakpoint ($phone) {
			@include span-columns(12,12);
		}
	}

	.hero-unit {

		background-color: $gray-blue;

		clear:both;
			@include at-breakpoint ($phone) {
				padding: 20px;
			}

		h2{
			color: $white;
			@include at-breakpoint ($desktop) {
				font-size: 80px;
				margin-bottom: 60px;
			}

			@include at-breakpoint ($pad) {
				font-size: 55px;
				margin-bottom: 40px;
			}

			@include at-breakpoint ($phone) {
				font-size: 36px;
				padding-top: 30px;
			}
		}

		p{
			color: $gray-3;
			@include at-breakpoint ($desktop) {
				font-size: 36px;
				line-height: 60px;
				margin-bottom: 30px;
			}

			@include at-breakpoint ($pad) {
				font-size: 24px;
				line-height: 40px;
				margin-bottom: 30px;
			}
		}
	}
}

/* End edit landing page */

/* for index page */


#hot-tags {
	clear: both;
	color: $gray-1;
	margin-bottom: 30px;
	text-decoration: none;

	@include at-breakpoint ($desktop) {
		@include span-columns(8 ,12);
	}

	@include at-breakpoint ($pad) {
		@include span-columns(12 ,12);
	}

	@include at-breakpoint ($phone) {
		@include span-columns(12 ,12);
	}

	.tag-page {
		background-color: $tag-h-1;

		@include at-breakpoint ($desktop) {
			padding:40px; 
		}

		@include at-breakpoint ($pad) {		
			padding:20px;  
		}
		@include at-breakpoint ($phone) {
			padding:10px;
		}
	}

	h2 {
		@include at-breakpoint ($desktop) {
			padding-top: 0px;
			margin-bottom: 40px;
			font-size: 48px;
		}

		@include at-breakpoint ($pad) {
			margin-bottom: 20px;
		}

		@include at-breakpoint ($phone) {
			padding-top: 0px;
			margin-bottom: 10px;
		}
	}

	.tag-intro {
		background-color: $tag-h-2;
		color: $black;

		@include at-breakpoint ($desktop) {	
			margin-bottom: 40px;
			padding:20px;	 

			h3 { 
				font-size: 26px;
				margin-bottom: 0px;
			} 

			p { 
				font-size: 21px;
				line-height: 42px;
			}	
		}

		@include at-breakpoint ($pad) {	
			margin-bottom: 20px;
			padding:10px;	 

			h3 { 
				font-size: 21px;
				margin-bottom: 0px;
			} 

			p { 
				font-size: 18px;
			}	
		}

		@include at-breakpoint ($phone) {
			margin: 0px;
			margin-bottom: 10px;
			padding:5px;

			h3 {
					font-size: 18px;
					line-height: 21px;
					margin-bottom: 10px;
					margin-top: 5px;
			}

			p {
				color: $gray-9;
					font-size: 16px;
			}
		}
	}

	.tag-img {

		@include at-breakpoint ($desktop) {
			float: left;
			max-width: 280px;
			margin: 0px 20px 20px 0px;
		}

		@include at-breakpoint ($pad) {
			float: left;
			margin: 0px 20px 20px 0px;
			max-width: 280px;
		}

		@include at-breakpoint ($phone) {
			float: none;
			max-width: 440px;
			margin: 0px 0px 10px 0px;
		}

		img {
			margin:0 auto;
			display: block;
		}
	}

	.tag-content {
		@include at-breakpoint ($desktop) {
			clear: right;
			h4 {
				margin-top: 30px;
				font-size: 36px;
				display: inline-block;
			}
			p {
				display: block;
				margin: 0px 0px 0px 10px;
				padding: 10px;
				font-size: 21px;
				line-height: 27px;
			}
		}

		@include at-breakpoint ($pad) {	
			clear: right;
			h4 {
				margin-top: 20px;
				font-size: 36px;
				display: inline-block;
			}
			p {
				display: block;
				margin: 0px;
				padding: 10px;
				font-size: 21px;
				line-height: 27px;
			}

		}

		@include at-breakpoint ($phone) {
			
			h4 {
				display: block;
				margin:10px 0px 10px 0px;
				margin-bottom: 10px;
				font-size: 24px;
				line-height: 36px;	
			}

			p {
				display: block;
				margin: 0px;
				padding: 10px;
				font-size: 16px;
				line-height: 21px;
				margin-bottom: 10px
			}
		}
		.tag-title {
			@include at-breakpoint ($desktop) {
			}

			@include at-breakpoint ($pad) {		  
			}

			@include at-breakpoint ($phone) {
				background-color: $tag-h-3;	
				text-align: center;
			}			
		}

		.tag-description {
			@include at-breakpoint ($desktop) {
			}

			@include at-breakpoint ($pad) {		  
			}

			@include at-breakpoint ($phone) {
				color: $gray-9;
				background-color: $tag-h-4;
			}
		}
	}


	.tag-button {
		background-color: $tag-h-5;
		text-align: center;
		text-decoration: none;

		@include at-breakpoint ($desktop) {
			clear:both;
			font-size: 26px;
			padding: 20px;
		}

		@include at-breakpoint ($pad) {	
			clear:both;	  
			font-size: 21px;
			padding: 10px;
		}

		@include at-breakpoint ($phone) {
			font-size: 18px;
			padding: 5px;
		}
	}

	.tag-button:hover {
		background-color: $orange-hover;
	}
}

.desktop-layout {
		@include at-breakpoint ($desktop) {
		@include span-columns(4 omega,12);
	}
}

#get-start {
	background-color: $get-start;
	margin-bottom: 30px;
	
	@include at-breakpoint ($desktop) {
		@include span-columns(4 ,4);
	}

	@include at-breakpoint ($pad) {
		padding: 0px;
		@include span-columns(6 ,12);
	}

	@include at-breakpoint ($phone) {
		@include span-columns(12 ,12);
		clear: both;
		padding: 0px;
	}

		
		h2 {
			margin-bottom: 10px;
				font-size: 29px;
		}

		h3 {
			margin: 0px 0px 5px 0px;
		}

		.tag-title {
			background-color: $recommend;

			@include at-breakpoint ($desktop) {
				margin: 20px;
				padding: 20px;
			}

			@include at-breakpoint ($pad) {	
				margin: 20px;
				padding: 10px;
  
			}

			@include at-breakpoint ($phone) {
				margin: 10px;
				padding: 5px;
			}
		}

		.tag-button {
			background-color: $btn-get-start;
			color: $gray-9;
			text-align: center;

			@include at-breakpoint ($desktop) {
				margin: 20px;
				font-size: 36px;
				padding: 20px;
			}

			@include at-breakpoint ($pad) {	
				margin: 20px;
				font-size: 24px;
				padding: 10px;	  
			}

			@include at-breakpoint ($phone) {
				margin: 10px;
				font-size: 18px;
				padding: 5px;
			}
		}
		.tag-button:hover {
			background-color: $orange-hover;
		}
	}

#new-post {
	@extend #get-start;
	background-color: $gray-4;

	a {
		text-decoration: none;
	}	

	@include at-breakpoint ($pad) {
		@include span-columns(12 ,12);
		float: none;
		clear:both;
		margin-right: auto;
		margin-left: auto;
		padding:1px;
		line-height: 40px;

	}

	@include at-breakpoint ($phone) {
		@include span-columns(12 ,12);
		padding:0px;
	}
	
	.tag-button {
		background-color: blue;
		color: $gray-1;
		font-size: 28px;
	}

	.tag-button:hover {
		background-color: $blue-hover;
	}

}

#recommend {
	@extend #get-start;
	background-color: $recommend;

	@include at-breakpoint ($desktop) {
		@include span-columns(4 ,4);
	}

	@include at-breakpoint ($pad) {
		@include span-columns(6 omega,12);
	}

	@include at-breakpoint ($phone) {
		@include span-columns(12 ,12);
	}

	h2 {
		margin-bottom: 5px;
	}

	.tag-title {
		background-color: $get-start;
		color: $gray-2;
		margin-bottom: 10px; 
	}

	.tag-button {
		background-color: $btn-recommend;
		color: $gray-3;
	}
}

#front-tags {
	@extend #hot-tags;

	@include at-breakpoint ($desktop) {
		@include span-columns(6 ,12);
	}

	@include at-breakpoint ($pad) {
		@include span-columns(6 ,12);
	}

	@include at-breakpoint ($phone) {
		@include span-columns(12 ,12);

	}

	.tag-img {

		@include at-breakpoint ($desktop) {
			max-width: 280px;
		}

		@include at-breakpoint ($pad) {
			margin-bottom: 10px;
			max-width: 140px;
		}

		@include at-breakpoint ($phone) {
			max-width: 440px;
		}

	}


	.tag-page {
		background-color: $tag-f-1;

		h2 {
			@include at-breakpoint ($desktop) {
			}

			@include at-breakpoint ($pad) {	
			}

			@include at-breakpoint ($phone) {
			}
		}
	}

	.tag-intro {
		background-color: $tag-f-2;

		@include at-breakpoint ($desktop) {
		}

		@include at-breakpoint ($pad) {	  
		}

		@include at-breakpoint ($phone) {
		}
	}

	.tag-content {

		h4 {
			margin-top: 10px;
		}
		.tag-title {
			@include at-breakpoint ($desktop) {
			}

			@include at-breakpoint ($pad) {	
				font-size: 32px;
				clear:both;	  
			}

			@include at-breakpoint ($phone) {		  
			background-color: $tag-f-3;
			}	
		}

		.tag-description {
			@include at-breakpoint ($desktop) {
			}

			@include at-breakpoint ($pad) {	
				font-size: 18px;	  
			}

			@include at-breakpoint ($phone) {		  
			background-color: $tag-f-4;
			}		
		}

		.tag-button {
			background-color: $tag-f-5;
		}
	}
}

#back-tags {
	@extend #front-tags;

	@include at-breakpoint ($desktop) {
		@include span-columns(6 omega ,12);
		clear:none;
	}

	@include at-breakpoint ($pad) {
		@include span-columns(6 omega ,12);
		clear:none;
	}

	@include at-breakpoint ($phone) {
		@include span-columns(12 ,12);
		clear:both;

	}

	
	.tag-page {
		background-color: $tag-b-1;
	}

	.tag-intro {
		background-color: $tag-b-2;
	}

	.tag-content {
		.tag-title {
			@include at-breakpoint ($desktop) {
			}

			@include at-breakpoint ($pad) {		  
			}

			@include at-breakpoint ($phone) {		  
			background-color: $tag-b-3;
			}		
			color: $gray-2;
		}

		.tag-description {
			@include at-breakpoint ($desktop) {
			}

			@include at-breakpoint ($pad) {		  
			}

			@include at-breakpoint ($phone) {
			background-color: $tag-b-4;
			}
		}
	}

	.tag-button {
		background-color: $tag-b-5;
	}

	.tag-button:hover {
		background-color: $green-hover;
	}
}

.new-tags {
	@extend #hot-tags;
	color: $gray-9;

	@include at-breakpoint ($desktop) {
		@include span-columns(12 ,12);
		margin-top: 50px;
		margin-bottom: 80px;
		clear: both;
	}

	@include at-breakpoint ($pad) {
		@include span-columns(12 ,12);
		margin-top: 30px;
		margin-bottom: 50px;
		clear: both;
	}

	@include at-breakpoint ($phone) {
		@include span-columns(12 ,12);
	}

	.tag-page {
		background-color: $tag-1;

		@include at-breakpoint ($desktop) {
			padding-left: 250px;
			padding-right: 250px;
		}

		@include at-breakpoint ($pad) {		  
		}

		@include at-breakpoint ($phone) {
		}

	}

	.tag-intro {
		background-color: $tag-2;
	}

	.tag-content {
		.tag-title {
			@include at-breakpoint ($desktop) {
			}

			@include at-breakpoint ($pad) {		  
			}

			@include at-breakpoint ($phone) {
				background-color: $tag-3;
			}
			color: $gray-8;
		}

		.tag-description {
			@include at-breakpoint ($desktop) {
			}

			@include at-breakpoint ($pad) {		  
			}

			@include at-breakpoint ($phone) {
				background-color: $tag-4;
			}
		}
	}

	.tag-button {
		background-color: $tag-5;
		color: $white;
	}
}





.big-head {
	line-height: 80px;
	font-size: 72px;
	padding-top: 100px;
	margin-bottom: 100px;
}

	

	

	

/* end index page */
